<!--
  Generated template for the CarDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ car.year }} {{ car.make }} {{ car.model }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="one-car" padding>
    <h4>Miles: {{car.miles}}</h4>

    <button ion-button ion-button color="secondary" (click)="showRadio()">
      Add Entry
    </button>

    <button ion-button ion-button color="primary" (click)="editCar(car)">
      Edit Car Details
    </button>
    <br/>
    <h1>Oil Changes:</h1>
    <ion-list>
       <div *ngIf="oilChangesForCar.length == 0">None</div> 
      <div>
        <div *ngFor="let oilChange of oilChangesForCar">
            <!-- <button ion-item (click)="oilChangeForCarClicked(oilChange)">
              <h3>{{oilChange.date}}</h3>
            </button> -->

            {{oilChange.date}}

        </div>
      </div>
    </ion-list>
  </div>
</ion-content>
